body {
background-color: red;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button{
     background-color: aliceblue;
     color: black;
     font-family: 'Times New Roman', Times, serif;
}

.passo{
     display: none;
}

.passo.ativo{
    display: block;
}

main{
    text-align: center ;
    max-width: 90%;
}

img{
    max-width: 30%;
}