body {
background-color: red;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}